.content {
  padding: 50px 20px;
  h2 {
    text-align: center;
    color: #007d64;
  }
}

.tabs {
  padding: 50px 20px 10px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  margin-bottom: 50px;
  .tab {
    position: relative;
    font-size: 18px;
    &:first-child {
      margin-right: 50px;
    }
    &.active {
      color: #007d64;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #007d64;
        left: 0;
        bottom: -10px;
      }
    }
  }
}

.cities {
  .city {
    margin-bottom: 20px;
    .green {
      background-color: #007d64;
      height: 42px;
      width: 100%;
      border-radius: 42px;
      display: flex;
      align-items: center;
      padding: 10px;
      color: white;
    }
    .locations {
      padding: 20px;
      span {
        display: block;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.map {
  height: 350px;
  position: relative;
  background-image: url("/recruiting-agents/bg.png");
  background-size: cover;
  background-position: center;

  .mapTitle {
    color: white;
    background-color: #007d64;
    padding: 5px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    span {
      font-size: 14px;
      display: block;
    }
  }
}
.locationContent {
  padding: 20px;

  .description {
    margin-bottom: 20px;
  }

  .slider {
    margin-bottom: 100px;
  }

  .title {
    margin-bottom: 50px;
    color: #606060;

    display: flex;
    justify-content: center;
    h3 {
      width: fit-content;
      text-align: center;
      border-bottom: 4px solid #606060;
      padding-bottom: 10px;
    }
  }
  .items {
    > div {
      margin-bottom: 30px;
      h4 {
        color: #007d64;
        margin-bottom: 15px;
      }
      span {
        display: block;
        margin-bottom: 5px;
        padding-left: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 1000px;
    margin: auto;
    h2 {
      text-align: left;
      font-size: 30px;
    }
  }
  .tabs {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    justify-content: flex-start;
    .tab {
      &:first-child {
        margin-right: 100px;
      }
    }
    span {
      font-size: 20px;
    }
  }
  .cities {
    display: flex;
    max-width: 900px;
    margin: auto;
    .city {
      margin-right: 100px;
      .green {
      }
    }
    .locations {
      display: none;
    }
  }
  .map {
    height: 75vh !important;
    margin-bottom: 50px;
    .mapTitle {
      width: fit-content;
    }
  }
  .description {
    max-width: 600px;
    margin: auto;
    margin-bottom: 100px !important;
  }
  .locationContent {
    max-width: 900px;
    margin: auto;
    .items {
      display: flex;
      > div {
        flex: 1;
      }
    }
  }
  .locationsWeb {
    background-color: #f6f6f6;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    span {
      display: block;
      margin-right: 100px;
      margin-bottom: 20px;
    }
  }
}
