.companies {
  padding: 50px 20px;

  text-align: center;

  .companiesHeader {
    margin-bottom: 20px;
  }

  .countries {
    .image {
      height: 60px;
      position: relative;
      margin-bottom: 20px;
    }
  }
}
