.companiesWrapper {
  padding-top: 20px;
}

.companies {
  text-align: center;
  padding: 20px;
  max-width: 70%;
  margin: auto;

  .countries {
    margin-bottom: 20px;
    .image {
      display: none;
    }
    .image,
    .imageGreen {
      height: 58px;
      position: relative;
      margin-bottom: 20px;
    }
  }
  .companiesSlider {
    .image {
      position: relative;
      aspect-ratio: 1;
    }
  }
}

.companiesHeader {
  margin-bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 6px;
    background-color: #007d64;
  }
  h2 {
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    position: relative;
    z-index: 2;
    font-size: 40px;
  }
}

@media (min-width: 769px) {
  .companiesWrapper {
    padding-top: 50px;
  }

  .companies {
    max-width: 50%;
    .countries {
      margin-bottom: 0px;
      .imageGreen {
        height: 82px;
      }
    }
  }
}
