.quote {
  padding: 80px 20px;

  .top {
    margin-bottom: 50px;
    span {
      display: block;
      text-align: center;
    }
  }
  .bottom {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .section1 {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;

    .image {
      width: 70%;
      flex-shrink: 0;
      //margin-right: 50px;
    }
  }

  .quote {
    padding: 150px 20px;
    max-width: 800px;
    margin: auto;
  }
}
