.header {
  height: 60vh;
  position: relative;
  .content {
    position: absolute;
    z-index: 2;
    color: #008c6f;
    width: 100%;
    top: 50px;
    padding: 2rem;
    h1,
    h2 {
      margin-bottom: 20px;
    }
    a {
      &:hover {
        color: white;
      }
    }
  }
}

.services {
  padding: 50px 20px;
  background-color: #f0f1f3;
  position: relative;
  
  h2 {
    text-align: center;
  }

  .title {
    display: flex;
    justify-content: center;
    width: 40%;
    float: left;
    position: absolute;
    top: 45%;
    h2 {
      position: relative;
      &::after {
        content: "";
        background-color: #007d64;
        width: 80%;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, 0);
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* 2 filas, altura automática */
    column-gap: 20px;
    row-gap: 40px;
    width: 50%;
    left: 35%;
    position: relative;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1rem;
      background-color: white;
      color: #008c6f;
      font-weight: 700;
      font-size: 1.3rem;
      border-radius: 20px;
      width: 100%;
      .image {
        transition: all 0.3s;
        max-width: 100%;
        height: auto;
      }
      &:hover {
        color: #007d64;
        .image {
          transform: scale(1.1);
        }
      }

      span {
        margin-top: 20px;
      }
    }
  }
}

.wave2 {
  height: 150px;
  width: 100%;
  background-image: url("/home/wave2.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: -100px;
  margin-top: -50px;
  position: relative;
  z-index: 99;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  .sliderOutter {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .sliderInner {
    border-radius: 250px;
    border: 20px solid gray;
    width: 290px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    .sliderInner2 {
      overflow: hidden;
      width: 390px;
      flex-shrink: 0;
    }
  }
  .image {
    overflow: hidden;
    height: 250px;
    width: 250px;
    img {
      border-radius: 250px;
      max-width: 100%;
      height: auto;
    }
  }
}

.videoWrapper {
  position: relative;
  padding: 100px 20px;
  .content {
    position: relative;
    text-align: center;
    z-index: 99;
    color: white;
    span {
      display: block;
      margin-bottom: 50px;
    }

    .video {
      width: 100%;
      position: relative;
      iframe {
        width: 100%;
        z-index: 99;
        height: 300px;
        max-width: 100%;
        height: auto;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: #007d64;
        width: 100px;
        height: 100px;
        left: -10px;
        top: -10px;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #007d64;
        width: 100px;
        height: 100px;
        right: -10px;
        bottom: -10px;
        z-index: -1;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    height: 40vh;
    .content {
      width: 26vh;
      text-align: center;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      color: white;
      background-color: rgba(22, 58, 31, 0.7);
      h1 {
        font-size: 24px;
        margin-right: 10px;
      }
      h2 {
        font-size: 18px;
        margin-right: 10px;
      }
      a {
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }

  .services {
    padding: 20px 10px;
    margin-bottom: 20px;

    .grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }

    .title {
      width: 30%;
    }
  }

  .wave2 {
    height: 100px;
    margin-bottom: -50px;
  }

  .sliderWrapper {
    padding: 20px 10px;
    .sliderInner {
      border-radius: 150px;
    }
    .image {
      width: 150px;
      height: 150px;
    }
  }

  .videoWrapper {
    padding: 50px 10px;

    .content {
      .video {
        width: 60%;
        display: inline-block;
        iframe {
          height: 200px;
        }
        &::before, &::after {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .services {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
      grid-template-rows: repeat(2, auto); /* 2 filas, altura automática */
      column-gap: 50px;
      row-gap: 40px;
    }
  }

  .wave2 {
    height: 390px;
    margin-bottom: -250px;
  }

  .sliderWrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    .content {
      width: 50%;
      flex-shrink: 0;
    }
    .slider {
      flex-shrink: 0;
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }
  }

  .videoWrapper {
    .content {
      width: 70%;
      margin: auto;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    height: 62vh;
    .content {
      width: 65vh;
      text-align: center;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 84%;
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 70px;
      }
    }
  }

  .services {
    margin: auto;
  }

  .sliderWrapper {
    .slider {
      width: 400px;
      height: 400px;
      border-radius: 400px;
      border: 35px solid gray;
      margin-left: 50px;
      .image {
        width: 400px;
        height: 400px;
      }
    }
  }

  .videoWrapper {
    .content {
      .video {
        iframe {
          height: 600px;
        }
        &::before {
          width: 300px;
          height: 300px;
          left: -30px;
          top: -30px;
        }
        &::after {
          width: 300px;
          height: 300px;
          bottom: -30px;
          right: -30px;
        }
      }
    }
  }
}
