.header {
  height: 60vh;
  position: relative;

  .wave1 {
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("/home/wave1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -45px;
  }

  .content {
    position: absolute;
    background-color: rgba(22, 58, 31, 0.7);
    z-index: 2;
    padding: 5px 25px;
    color: white;
    width: 90%;
    top: 50px;
    h1,
    h2 {
      margin-bottom: 20px;
    }
  }
}

.services {
  padding: 80px 20px;
  > h2 {
    margin-bottom: 50px;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      span {
        margin-top: 20px;
      }
    }
  }
}

.wave2 {
  height: 150px;
  width: 100%;
  background-image: url("/home/wave2.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -100px;
  margin-top: -50px;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  .slider {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 20px solid gray;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .image {
      position: relative;
      height: 300px;
      width: 300px;
    }
  }
}

.videoWrapper {
  position: relative;
  padding: 100px 20px;

  .content {
    position: relative;
    z-index: 99;
    color: white;

    span {
      display: block;
      margin-bottom: 50px;
    }

    .video {
      width: 100%;
      position: relative;
      video {
        width: 100%;
        z-index: 99;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: #007d64;
        width: 100px;
        height: 100px;
        left: -10px;
        top: -10px;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #007d64;
        width: 100px;
        height: 100px;
        right: -10px;
        bottom: -10px;
        z-index: -1;
      }
    }
  }
}
