.navWrapper {
  width: 100%;
  padding: 10px;
  height: 85px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.menuMobile {
  position: absolute;
  background-color: white;
  top: 85px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  a {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
