.intro {
  padding: 50px 20px;
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .slider {
    margin-top: 50px;
    height: 240px;
    width: 100%;
    position: relative;
    margin-left: 20px;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #007d64;
      top: -20px;
      left: -20px;
    }
    .slide {
      position: relative;
      height: 100%;
    }
  }
}

.section,
.outro {
  padding: 50px 20px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  span {
    display: block;
    margin-bottom: 50px;
  }
}

.background {
  position: relative;

  padding: 100px 50px;

  .content {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-bottom: 30px;
    }
    span {
      display: block;
      margin-bottom: 30px;
    }
  }
}

.icons {
  padding: 50px 30px;
  > span {
    margin-bottom: 50px;
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 60px;
    .icon {
      display: flex;
      align-items: center;
      color: #007d64;
      .image {
        flex-shrink: 0;
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }
    }
  }
}

.cta {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin-bottom: 20px;
    color: #007d64;
  }
}

@media (min-width: 768px) {
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;

    .slider {
      width: 50%;
      flex-shrink: 0;
    }

    .content {
      background-color: #f0f0f0;
      padding: 30px;
      width: 35%;
      position: relative;
      left: 30px;
      z-index: 1;
    }
  }

  .section1 {
    background-image: url("/home/lines.png");
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 0;
    justify-content: center;

    .content {
      margin-left: 50px;
    }

    .image {
      width: 50%;
      flex-shrink: 0;
      margin-right: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .intro {
    .slider {
      height: 500px;
    }
  }

  .section1 {
    align-items: center;
    height: 100vh;
  }

  .section2,
  .section3 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    height: 100vh;
    .image {
      width: 50%;
      flex-shrink: 0;
      margin-right: 50px;
    }

    .content {
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      height: fit-content;
      position: relative;
      left: 50px;
      z-index: 2;
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    h3 {
      font-size: 40px;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: auto;
    .image {
      width: 50%;
      flex-shrink: 0;
      margin-right: 50px;
    }
    .content {
      background-color: #f0f0f0;
      padding: 50px 30px;
      width: 400px;
      margin-left: -100px;
      position: relative;
      z-index: 99;
      top: 50px;
      .grid {
        .icon {
          .image {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  .cta{
    h3{
      font-size: 35px;
    }
  }
}
